#header {
  text-align: center;
  position:fixed;
  height: 115px;
  top:0px;
  left:0px;
  width:100%;
  background:rgb(31, 31, 31);
}

#footer {
  text-align: center;
  position:fixed;
  font-size: 15px;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(68, 67, 87);
  padding:8px;
}

.contain {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(58, 58, 58);
  width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 300;
	overflow: hidden;
	padding: 30px 50px;
}

#header-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: rgb(204, 194, 194);
}

#spacing {
  margin-top: 100px;
}

.selector :hover {
  background-color: aquamarine;
}